html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media only screen and (min-width: 27rem){
    .form-width{
        width: 27rem;
    }
}